/*  MOBILE FORM starting specific stylings ------------------------------- */

.container_custom {
  width: 90%;
  margin: auto;
  padding-bottom: 1srem;
  background-color: white;
  border-radius: 15px;
  opacity: 0.8;
  z-index: 1;
}

input,
label {
  font-size: 1em;
  height: 2rem;
  margin-top: 0rem;
  padding-top: 3.3rem;
}

form>ol {
  list-style: none;
  padding: 0px;
}

form>ol>li {
  position: relative;
  margin: 1.2em;
}

input {
  padding: 0.1em 0em;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #555;
  outline: none;
  margin: 0px;
  background: none;
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;

}

textarea {
  outline: none;
  resize: none;
  width: 100%;
  overflow: auto;
  height: 300px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;


}

/**** HERE THE MAGIC STARTS *****/
/* Original label position: top left and small */
label {
  position: absolute;
  top: -1em;
  left: 0.08em;
  color: var(--main-bg-color);
  z-index: -1;
  font-size: 0.85em;
  animation: float-labels 300ms none ease-out;
  -webkit-animation: float-labels 300ms none ease-out;

  /* There is a bug sometimes pausing the animation. This avoids that.*/
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
}

label#mensaje {
  top: 16rem;
  padding-bottom: 2rem;
}

/* Label highlight effect also for non-JS browsers */
input:not(.empty):focus+label {
  color: #0099ff;
}

/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */
input.empty+label {
  top: 0.1em;
  font-size: 1.5em;
  animation: none;
  -webkit-animation: none;
}

/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */
@keyframes float-labels {

  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }

  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  30% {
    top: 0.1em;
  }

  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  100% {
    top: -1em;
    opacity: 1;
  }
}

@-webkit-keyframes float-labels {

  0% {
    opacity: 1;
    color: #aaa;
    top: 0.1em;
    font-size: 1.5em;
  }

  20% {
    font-size: 1.5em;
    opacity: 0;
  }

  30% {
    top: 0.1em;
  }

  50% {
    opacity: 0;
    font-size: 0.85em;
  }

  100% {
    top: -1em;
    opacity: 1;
  }
}

/* SWITCH CHECKBOX START */

.switch {
  position: relative;
  display: inline-block;
}

.switch-input {
  display: none;
}

.switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}

.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}

.switch-input:checked+.switch-label::before {
  background-color: #89c12d;
}

.switch-input:checked+.switch-label::after {
  left: 24px;
}

/* SWITCH CHECKBOX END */

.submit {
  position: absolute;
  right: 8.5rem;
}