:root {
  /* --main-bg-color: #c8ddee;
  --secondary-bg-color: #7a8b99; */


  --main-bg-color: #443235;
  --secondary-bg-color: #8f7d7f;
  --main-font: "Montserrat", sans-serif;
  /* 
   --main-bg-color: #c8ddee;
   --secondary-bg-color: #7a8b99;
   */
}

body {
  position: relative;
  font-family: var(--main-font),
    sans-serif;
  font-size: calc(16px + (18 - 14) * ((100vw - 300px) / (1600 - 100)));
  font-weight: 100;
  color: #ffffff;
  background: var(--main-bg-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-family: '--main-font',
    sans-serif;
  line-height: 1.2;
  font-weight: 100;
}

h1 {
  font-size: calc(40px + (45 - 35) * ((100vw - 600px) / (1600 - 900)));
}

h2 {
  font-size: calc(35px + (40 - 30) * ((100vw - 600px) / (1600 - 900)));
}

h2.tit-box {
  font-size: calc(30px + (35 - 25) * ((100vw - 600px) / (1600 - 900)));
  color: var(--main-bg-color)
}

h3 {
  font-size: calc(20px + (25 - 17) * ((100vw - 600px) / (1600 - 900)));
}

a {
  color: #15b6cd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}